@font-face {
  font-family: "regular";
  src: url("/Assets/TTNorms-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "bold";
  src: url("/Assets/TTNorms-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "medium";
  src: url("/Assets/TTNorms-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "temp";
  src: url("./Assets/TTNorms-ExtraBold.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
}
*::after,
::before {
  box-sizing: border-box;
}
.page-1 {
  max-width: 100%;
  display: grid;
  align-items: center;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto 1fr auto;
  column-gap: 8px;
  padding: 8px;
  margin-top: 16px;
}
.section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  flex-direction: row;
  border-radius: 4px;
}
.section svg {
  width: 64px;
  border: 1px solid #f1f1f1ff;
  border-radius: 12px;
  height: 64px;
}
.head {
  max-width: 100%;
  margin-bottom: 1px;
}
.Browser {
  color: #191919ff;
  font-family: "bold";
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.01px;
  text-decoration: none;
  text-transform: none;
  display: block;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
  margin-top: -1px;
}
.first-order {
  color: #606060ff;
  font-family: "medium";
  font-size: 14px;
  letter-spacing: -0.01px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
  display: block;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}
.star {
  color: #606060ff;
  font-family: "medium";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01;
  text-align: left;
  text-transform: none;
  overflow: hidden;
  white-space: normal;
  display: flex;
  align-items: center;
}
.star-1 {
  margin: 0 2px;
}
.star-2 {
  margin-right: 2px;
}
.rating {
  color: #606060ff;
  font-family: "medium";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01px;
  text-align: left;
  text-transform: none;
  display: block;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
  display: flex;
  margin-left: 4px;
}
/* .open{
  align-self: center;
 


} */
.section-btn {
  background-color: #eb1700ff;
  border: none;
  border-radius: 30px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;

  /* margin-top:-1px; */
}

.opn {
  color: #ffff;
  font-family: "bold";
  font-size: 16px;
  letter-spacing: -0.01px;
  line-height: 22px;
}
.main-container-one {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main-container-two {
  background-image: url(https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/hero_v3/hero_mobile.png);
  height: 550px;
  padding: 0px 8px;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.logo-with-name {
  margin-top: -8px;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.logo-with-name-centre {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.logo-name {
  line-height: 0px;
  margin-left: 8px;
}
.logo-with-name-centre svg {
  width: 32px;
  height: 18px;
  fill: #ffffff;
}
.logo-name svg {
  width: 112px;
  height: 13px;
  fill: #ffffff;
}
.doordash {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin-left: 8px;
}
.delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.first-order1 {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.fee {
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  font-size: 32px;
  color: rgb(255 255 255);
  text-align: center;
  line-height: 28px;
  letter-spacing: -0.01px;
  padding: 0px;
  margin: 0px;
  max-width: 350px;
  max-height: 56px;
}
.navigation {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 79px;
  margin-top: 32px;
  z-index: 1;
}

.open-app {
  padding-left: 16px;
  padding-right: 24px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
.open-app-attri {
  position: relative;
  max-width: 100%;
  padding: 0px;
  display: inline-flex;
  text-decoration: none;
  min-height: 40px;
  width: auto;
  align-items: center;
  justify-content: flex-start;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: #eb1700ff;
  box-shadow: 1px;
  color: #ffffff;
}
.nav-1 {
  display: block;
  flex-grow: 1px;
  max-width: 100%;
  padding: 0px 12px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
}
.nav-2 {
  max-width: 100%;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
}
.nav-3 {
  flex-grow: 2;
  min-width: 0px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
}
.nav-4 {
  width: 100%;
  font-family: "bold";
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  display: block;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
}
.open-app-1 {
  color: rgb(255, 255, 255);
  font-family: "bold";
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.01px;
  margin: 0px;
  padding: 0px;
  display: block;
}
.center-portion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.delivery-adress {
  border-radius: 12px;
}
.search-bar {
  width: 100%;
}
.search-box {
  max-width: 100%;
  display: block;
}
.enter-1 {
  display: flex;
  min-height: 40px;
}
.enter-2 {
  border-radius: 32px;
  font-family: "bold";
  font-size: 16px;
  background-color: white;
  line-height: 22px;
  font-weight: 500;
  color: #191919ff;
  display: flex;
  align-items: center;
  padding: 6px 16px;
  width: 100%;
}

.enter-3 {
  max-width: 100%;
  margin-right: 12px;
}
.enter-3-first-class {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  pointer-events: none;
}
.white-search {
  display: flex;
  flex-grow: 1;
  background-color: #ffff;

  max-width: 100%;
  margin-right:12px ;
}
.white-search input {
  font-family: "medium";
}
.search-btn-1 {
 
  font-family: "medium";
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  width: 100%;
  border: none;
  display: flex;

  color: black;
  margin: 0px;
  padding: 0px;
}
.section-btn-2 {
  max-width: 100%;
  margin-right: 0px;
}
.arrow {
  position: relative;
  max-width: 100%;
  margin: 0px;
  display: inline-flex;
  min-height: 40px;
  border-radius: 9999px;
  border: none;
  text-align: center;
  background-color: #eb1700ff;
  color: #ffffffff;
  height: 40px;
  width: 40px;
  padding: 0px;
  align-items: center;
  justify-content: center;
}

.enter-delivery-address {
  margin-top: 16px;
  position: relative;
  max-width: 100%;

  padding: 0px;
  display: inline-flex;
  min-height: 32px;
  width: auto;
  align-items: center;
  justify-content: flex-start;
  border-radius: 9999px;
  border: none;
  background-color: #ffffff;
  color: #191919ff;
}
.sign_in_address{
   margin-top: 16px;
  position: relative;
  max-width: 100%;

  padding: 0px;
  display: inline-flex;
  min-height: 32px;
  width: auto;
  align-items: center;
  justify-content: flex-start;
  border-radius: 9999px;
  border: none;
  background-color: #ffffff;
  color: #191919ff;


}
.enter-delivery-address-1 {
  display: block;
  flex-grow: 1;
  max-width: 100%;
  min-width: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-shrink: 2;
  width: 16px;
}
.login-btn {
  flex-grow: 2;
  min-width: 0px;
  display: flex;
  justify-content: center;
  margin-left: 4px;
}
.login-btn-1 {
  color: black;
  font-family: "bold";
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  display: block;
  text-overflow: ellipsis;
  max-width: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.log_use_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 12px;
}
.search-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

.login {
  padding: 0px 12px;
}

.login-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin-left: 4px;
  font-family: "bold";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
}
.con-in-app {
  width: 100%;
  margin: 0 auto;
  flex: 1 0 auto;
}
.logo-with-con-app {
  margin: 20px 20px 0px;
}
.logo-with-con-app-child {
  padding: 20px;
  border: 1px solid #f1f1f1ff;
  border-radius: 12px;
  background-color: #f7f7f7ff;
}

.logo-with-con-app-child-box {
  display: flex;
  text-align: left;
}
.con-in-app-logo {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  border: 1px solid #f1f1f1ff;
  padding: 8px;
  margin-right: 8px;
  background-color: #ffffff;
}
.con-in-app-browse {
  max-width: 100%;
  display: block;
}
.con-browse {
  color: #191919ff;
  font-family: "bold";
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.01px;
  display: block;
  text-overflow: ellipsis;
  min-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
}
.con-delivery {
  margin-top: 2px;
  color: #606060ff;
  font-family: "medium";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01px;
  display: block;
  text-overflow: ellipsis;
  min-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
  margin: 2px 0px 0px 4px;
}
.con-delivery-child {
  margin-top: 2px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  color: #6060;
}
.con-star-1 {
  margin: 0 2px;
}

.con-star-2 {
  margin: 0 2px;
  margin-left: 0px;
}
.con-star-3 {
  margin: 0 2px;
  margin-left: 0px;
}
.con-star-4 {
  margin: 0 2px;
  margin-left: 0px;
}
.con-star-5 {
  margin: 0 2px;
  margin-left: 0px;
}
.con-rating {
  margin-left: 4px;
  color: #606060ff;
  font-family: "medium";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01px;
  text-align: left;
  text-transform: none;
  display: block;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
  display: flex;
  margin-left: 4px;
}
.con-btn {
  position: relative;
  max-width: 100%;
  padding: 0px;
  display: flex;
  min-height: 40px;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  text-align: center;
  background-color: #eb1700ff;
  color: #ffffff;
  margin-top: 16px;
  border: none;
}
.continue-in-parent-1 {
  display: block;
  flex-grow: 1;
  max-width: 100%;
  opacity: 1;
}
.continue-in-parent-2 {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.continue-in-parent-3 {
  flex-grow: 2;
  min-width: 0px;
  display: flex;
  justify-content: center;
}

.continue-in-parent-4 {
  width: 100%;
  color: currentColor;
  font-family: "bold";
  line-height: 22px;
  letter-spacing: -0.01px;
  font-size: 16px;
  text-align: center;
  display: block;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
}
/* .dasher-child-1 {
  max-width: 768px;
  margin: 0px auto;
} */
.dasher-child-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 40px 0px;
  max-width: 100%;
  padding: 8px 8px;
}
.dasher-child-3 {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
.dasher-parent{
  display: contents;
}
.dasher-child-4 {
  display: flex;
  width: 100%;
  min-width: 360px;
   flex-basis: row; 
  max-width: 100%;
  padding: 16px 16px;
}
.scooty {
  margin-right: 32px;
}
.become-a-dasher {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 250px;
}
.become-a-dasher-child {
  max-width: 100%;
  display: block;
}
.daher-text {
  color: #191919ff;
  font-family: "bold";
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.01px;
  text-align: left;
  display: block;
  margin: 0px;
  padding: 0px;
}
.daher-content {
  /* margin-top: 0px !important; */
  color: #191919ff;
  font-family: "medium";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;

  letter-spacing: -0.01px;
  text-align: left;
  display: block;
  margin: 0px;
  padding: 0px;
}
.daher-start {
  border: 0px;
  padding: 0px;
  margin: 12px 0px 0px 0px;
  outline: 0px;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.dasher-start-text {
  color: #eb1700ff;
  font-family: "bold";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01px;
  display: block;
  margin: 0px;
  padding: 0px;
}
.earning-arrow {
  margin-left: 4px;
  margin-bottom: -4px;
}

.everything-child-1 {
  width: 100%;
}
.everything-child-2 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-width: 90%;
  align-items: center;
 
}
.everything-child-3 {
  width: 100%;
}
.everything-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.everything-content {
  display: flex;
  text-align: left;
  flex-direction: column;
}
.everything-cont-head {
  text-align: left;
  max-width: 90%;
  margin: 20px 0px 0px;
  font-family: "bold";
  color: #191919ff;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.01px;
  display: block;
  padding: 0px;
}
.everything-cont-sub-head {
  text-align: left;
  font-family: "bold";
  margin: 10px 0px 0px;
  color: #191919ff;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.01px;
  display: block;
  padding: 0px;
}
.everything-content-details {
  text-align: left;
  font-family: "medium";
  margin: 10px 0px 0px;
  color: #191919ff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01px;
  display: block;
  padding: 0px;
}
.everything-end {
  margin-top: 20px;
}
.everything-search {
  position: relative;
  text-decoration: none;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  display: inline-flex;
  min-height: 32px;
  width: auto;
  align-items: center;
  justify-content: flex-start;
  border-radius: 9999px;
  text-align: center;
  background-color: #eb1700ff;
  color: #ffffff;
}
.everything-search-child-1 {
  display: block;
  flex-grow: 1;
  max-width: 100%;
  opacity: 1;
  padding: 0px 12px;
}
.everything-search-child-2 {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  color: #ffffff;
}
.everything-search-child-3 {
  width: 100%;
  font-family: "bold";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01px;
  text-align: center;
  display: block;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
}
.back-ground {
  width: 100%;
}
.back-ground-color {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-width: 90%;
  align-items: center;
  padding-top: 300px;
    margin-top: -300px;
}
.back-ground-size {
  background-color: rgb(254 241 238);
  padding-top: 320px;
}
.dash-pass {
  width: 100%;
}
.dash-pass-img {
  width: 100%;
  height: 180px;
object-fit: cover;
}
.dash-pass-head {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.DashPass-is-delivery {
  max-width: 90%;
  margin: 20px 0px 0px;
  color: #191919ff;
  font-family: "bold";
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.01px;
  display: block;
  text-decoration: none;
  padding: 0px;
}
.dash-paass-content {
  text-align: left;
  margin: 10px 0px 0px;
  color: #191919ff;
  font-family: "medium";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01px;
  text-decoration: none;
  display: block;
  padding: 0px;
}
.get-btn {
  margin-top: 20px;
}
.get-btn-style {
  position: relative;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  display: inline-flex;
  min-height: 32px;
  width: auto;
  align-items: center;
  justify-content: flex-start;
  border-radius: 9999px;
  border: none;
  text-decoration: none;
  text-align: center;
  background-color: #eb1700ff;
  color: #ffffff;
}
.get-btn-style-1 {
  display: block;
  flex-grow: 1;
  max-width: 100%;
  opacity: 1;
}
.get-btn-style-1-1 {
  padding: 0px 12px;
}
.get-btn-style-2 {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.get-btn-style-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  font-family: "bold";
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
.grocery-page {
  background-image: url(https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/landing_cta/grocery_desktop.png);
  position: relative;
  height: 350px;
  background-size: cover;
  background-position: center;
}
.grocery-page-main-1 {
  background-color: rgba(30, 30, 30, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin: 0;
  justify-content: center;
}


.grocery-page-main-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grocery-text-1 {
  text-align: center;
  color: white;
  filter: drop-shadow((0, 0, 0, 0.2) 0px 2px 8px);
  max-width: 90%;
  margin: 20px 0px 0px;
  font-family: "bold";
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.01px;
  text-decoration: none;
}
.grocery-text-2 {
  text-align: center;
  color: white;
  filter: drop-shadow((0, 0, 0, 0.2) 0px 2px 8px); 
  margin-top: 10px;
  font-family: "bold";
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.01px;
  text-decoration: none;
}
.grocery-text-3 {
  text-align: center;
  color: white;
  margin-top: 10px;
  font-family: "medium";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01px;
  text-decoration: none;
  padding: 0;
}
.grocery-btn {
  margin-top: 20px;
  text-align: center;
}
.grocery-btn-style {
  position: relative;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  display: inline-flex;
  min-height: 32px;
  width: auto;
  align-items: center;
  justify-content: flex-start;
  border-radius: 9999px;
  border: none;
  text-decoration: none;
  text-align: center;
  background-color: #eb1700ff;
  color: #ffffff;
}
.grocery-btn-style-1 {
  display: block;
  flex-grow: 1;
  max-width: 100%;
  opacity: 1;
}
.grocery-btn-style-1-1 {
  padding: 0px 12px;
}
.grocery-btn-style-2 {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.grocery-btn-style-3 {
  flex-grow: 2;
  min-width: 0px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-family: "bold";
  font-size: 14px;
}

.doorstep {
  width: 100%;
}
.doorstep-page1 {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  /* min-width: 90%; */
  align-items: center;
}
.doorstep-img {
  width: 100%;
  object-fit: cover;
  width: 99.9%;
}

.doorstep-pic {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.doorstep-content {
  display: flex;
  flex-direction: column;
}
.doorstep-content-heading {
  text-align: left;
  max-width: 80%;
  margin-top: 20px;
  color: #191919ff;
  font-family: "medium";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.01px;
  padding: 0px;
  margin-bottom: 0px;
}

.doorstep-content-sub-heading {
  text-align: left;
  margin-top: 10px;
  color: #191919ff;
  font-family: "medium";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01px;
  text-decoration: none;
  display: flex;
  padding: 0px;
}
.dos-gifting {
  display: flex;
  justify-content: center;
  background-color: rgb(254, 241, 238);
  padding: 40px 20px 20px;
  /* width: 100%; */
}
.shop-now {
  margin-top: 20px;
}
.shop-btn-style {
  position: relative;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  display: inline-flex;
  min-height: 32px;
  width: auto;
  align-items: center;
  justify-content: flex-start;
  border-radius: 9999px;
  border: none;
  text-decoration: none;
  text-align: center;
  background-color: #eb1700ff;
  color: #ffffff;
}
.shop-btn-style-1 {
  display: block;
  flex-grow: 1;
  max-width: 100%;
  opacity: 1;
}
.shop-btn-style-1-1 {
  padding: 0px 12px;
}
.shop-btn-style-2 {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.shop-btn-style-3 {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-family: "bold";
  font-size: 14px;
}

.dos-gifting-heading {
  text-align: center;
  max-width: 300px;
  color: #191919ff;
  font-family: "medium";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.01px;
  text-decoration: none;
  display: block;
  padding: 0px;
  margin: 0px;
}
.dos-gifting-body {
  background-color: rgb(254, 241, 238);
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  /* width: 100%; */
}
.dos-gifting-body-style-1 {
  margin-left: 5%;
  margin-right: -10%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-width: 90%;
  align-items: center;
}
.dos-gifting-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.Return-packages {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.Return-packages-heading {
  text-align: center;
  max-width: 90%;
  margin: 20px 0px 0px;
  color: #191919ff;
  font-family: "medium";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.01px;
  text-decoration: none;
  display: block;
  padding: 0px;
}
.Return-packages-sub-heading {
  text-align: center;
  margin-top: 10px;
  color: #191919ff;
  font-family: "medium";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01px;
  text-decoration: none;
  width: 100%;
  padding: 0px;
}
.Return-packages-btn {
  margin-top: 20px;
}
.Return-packages-btn-style {
  position: relative;
  max-width: 100%;
  padding: 0px;
  display: inline-flex;
  min-height: 32px;
  width: auto;
  align-items: center;
  justify-content: flex-start;
  border-radius: 9999px;
  border: none;
  text-decoration: none;
  text-align: center;
  background-color: #eb1700ff;
  color: #ffffff;
}
.Return-packages-btn-style-1 {
  display: block;
  flex-grow: 1;
  max-width: 100%;
  opacity: 1;
}
.Return-packages-btn-style-1-1 {
  padding: 0px 12px;
}

.Return-packages-btn-style-2 {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.Return-packages-btn-style-3 {
  flex-grow: 2;
  min-width: 0px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-family: "bold";
}
.enjoy {
  text-align: center;
  margin-top: 10px;
  color: #191919ff;
  font-family: "bold";
  font-size: 12px;
  font-family: 700;
  line-height: 18px;
  letter-spacing: 0.01px;
  text-decoration: none;
  padding: 0px;
  display: block;
}
.businesses {
  display: flex;
  justify-content: center;
  background-color:#ffffffff;
  padding: 55px 20px 20px;
  width: 100%;
}
.businesses-main-heading {
  text-align: center;
  max-width: 90%;
  /* margin: 20px 0px 0px; */
  color: #191919ff;
  font-family: "medium";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.01px;
  text-decoration: none;
  display: block;
  padding: 0px;
}
.neighborhood {
  padding: 24px 16px;
}
.neighborhood_head {
  text-align: center;
  color: #191919ff;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.01px;
  line-height: 40px;
  margin:0px 0px 20px 0px;
  font-family: 'medium';
}
.gap_top_city{
  gap: 24px;
  display: grid;
}
.top_sct{
display: flex;
justify-content: center;
width: 100%;
flex-direction:row;
align-items: baseline;
}
.top_cities1{
 width: 33.33%;
 display: flex;
 height: 40px;
 justify-content: center;
 align-items:center;
 text-align: center;
 background: #ffffffff;
 border-bottom: 3px solid black;
 padding-bottom:12px ;
}
.top_cities2{
 width: 33.33%;
 display: flex;
 height: 40px;
 justify-content: center;
 align-items:center;
 text-align: center;
 background: #ffffffff;
 border-bottom: 2px solid #f1f1f1ff;
padding-bottom:12px ;
}
.top_cities3{
 width: 33.33%;
 display: flex;
 height: 40px;
 justify-content: center;
 align-items:center;
 text-align: center;
 background: #ffffffff;
 border-bottom: 2px solid #f1f1f1ff;
 padding-bottom:12px ;
}
.city_text{
  font-family:"bold";
  color:#191919ff;
  font-size: 16px;
  font-weight:500;
  line-height: 24px;
  letter-spacing: -0.01px;
  margin: 0;
  padding: 0;
}
  
.cuisins_text{
  font-family: 'medium';
  color:#606060ff;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.01px;
  margin: 0;
  box-shadow: 0 3px 0 var(#191919ff); 
}

.city_name_main{
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.city_sub {
 display: grid;
 gap: 16px;
 width: 100%;

}
.city_name {
  text-decoration: none;
  width: 100%;
  display: block;
  white-space: nowrap;
  color: #191919ff;
  font-family:"medium";
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.01px;
}
.see_container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  cursor: pointer;
}

.see_container span {
  margin-right: 8px;
  color: #191919ff;
  font-family:"bold";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.01px;
}

.city_name_main .see_container button {
  position: relative;
  max-width: 100%;
  display: inline-flex;
  min-height: 40px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  background-color: #f1f1f1ff;
  color: #191919ff;
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.footer_container {
  width: 100vw;
  background-color: #191919ff;
  display: flex;
  flex-direction:column;
text-align: center;
 padding: 0px 20px;

  
}

.footer_sub_container {
  max-width: 1160px;
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
    padding: 32px 0px; 
 
}
.footer_sub_container h2 {
  margin-bottom: 8px;
  color: rgb(255, 255, 255);
  font-family:"medium";
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.01px;
  margin-top: 0px;
}
.gap_property{
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.footer_first_section{
  flex-direction: column;
  display: flex;
  justify-content: space-between;
 
  display: contents;

}
.footer_first_section_1{
display: flex;
flex-direction: column;
flex: 1 1 0%;
}
.footer_first_section span{
 margin-top: 8px;
  color:rgb(196, 196, 196);
  font-family: "medium";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01px; 

}
.app_in_phone{
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: 32px;
}
.app_in_phone a{
  opacity: 0.7;
}
.phone_app{
  padding: 2px 8px;
  border-radius: 8px;
  background-color:rgb(73, 73, 73); 
  display: flex;
  align-items: center;
  justify-content: center;
}
.google{
opacity: 0.7;
margin-top: 12px;

}
.get_toknow_container h2{
  margin-bottom: 8px;
  color:black;
  font-family: "medium";
  font-family: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.01px;
  text-decoration: none; 

}
.get_to_know_container{
  flex-direction: column;
  text-align: center;
  flex: 1 1 0%;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}
.get_to_know_container h2{
  margin:0px 0px 8px 0px;
  color:rgb(255, 255, 255);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.01px;
  font-family: "medium";
}
.get_to_know_container span{
  color: rgb(196, 196, 196);
  font-size: 14px;
  font-weight: 500;
  font-family: "medium";
  line-height: 20px;
  margin-top: 8px;
}

.face_camera{
justify-content:center;
display: flex;

}
.face_camera_property{
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.face_camera_property svg{
  opacity: 0.7;
}
.cross{
  margin-left:12px;
}
.camera{
  margin-left:12px;
}
.terms_with_logo{
 flex-direction:column-reverse;
 align-items: center;
 text-align: center;
 padding: 32px 0px;
 display: flex;
}
.terms{
  margin-top: 12px;
  display: flex;
 flex-wrap: wrap; 
  justify-content: center;
  max-width: 100%;
  align-items: center;
  flex-direction: row;

}
.last_logo{
  max-width: 100%;
display: flex;
justify-content:flex-start;
max-width: 100%;
flex-direction: row;
align-items: center;
}
.last_logo svg{
  width: 32px;
  height: 18px;
  fill: #ffffff;
}
.terms_of_service{
  margin-left: 16px;
  color:rgb(196, 196, 196);
  font-family: "medium";
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: -0.01px;

}
.gobal{
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gobal_property{
  width: 100%;
  max-width: 100%;
  display: flex;
  min-height: 32px;

}
.gobal_sub_property{
  font-family: 'medium';
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01px;
  color:#191919ff;
  align-items: center;
  display: flex;
  font-weight: 500;
  border-radius: 32px;
  padding: 4px 12px;
  background-color:#f1f1f1ff ;
  margin-right: 8px;

}
.english{
  flex-grow: 1;
  position: relative;
}
.dwn_arrow{
  width: 24px;
  height: 24px;
  color:white;
}
.back-ground_1{
  background-color: rgb(254 241 238);

}
.dash-pass_1 {
  width: 100%;
}
.dash-pass-img_1 {
  width: 100%;
  height: 180px;
 
  object-fit: cover;
}
.dash-pass-head_1 {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.DashPass-is-delivery_1 {
  max-width: 90%;
  margin: 20px 0px 0px;
  color: #191919ff;
  font-family: "bold";
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.01px;
  display: block;
  text-decoration: none;
  padding: 0px;
}
.dash-paass-content_1 {
  text-align: left;
  margin: 20px 0px 0px;
  color: #191919ff;
  font-family: "medium";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01px;
  text-decoration: none;
  display: block;
  padding: 0px;
}

.dash-pass-img_11{
  display: none;

}
.dos-gifting-img_1{
    display:none;
}
.everything-content-details_1{
    text-align: left;
    font-family: "medium";
    margin: 10px 0px 0px;
    color: #191919ff;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    display: block;
    padding: 0px;
  }
.input-btn{
  display: none;
} 
.sign_in_address{
  display: none;
}
.main-container-768{
  display:none;
}
.enter-3-location{
display: none;
}
.dash-pass-img_768{
   display: none; 
}
.sgn_in{
  display: none;
}
 .convive_img{
  display: none;

 }
 .everything-img_1{
  display:none;
 }

@media screen and (min-width:768px){

.enter-delivery-address {
    display:flex;
  }
  .page-1{
    display: none;
  }
  .open-app-1{
    display: none;
  }
  

  .logo-with-con-app{
    display: none;
  }
  .log_use_container{
    display: none;
  }
  .sign_in_address{
  display:flex;
}

.enter-3-first-class{
  display: none;
}
.sgn_in{
  display:block;
}
 .doorstep-pic{
  display: none;
}
.logo-with-name{
  transform: translateY(-207.6px);
  margin-block: 24px;
}

.man_sign{
  margin-top: 16px;
  min-height: 32px;
  align-items: center;
  border-radius: 9999px;
  border: none;
}
.man_sign_property{
  padding: 0px 12px;
  display: flex;
  align-items: center;
}
 .input-btn{
  padding-left: 16px;
  padding-right: 24px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
} 
 .fee {
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  font-size: 40px;
  color: rgb(255 255 255);
  text-align: center;
  line-height: 40px;
  letter-spacing: -0.01px;
  padding: 0px;
  margin: 0px;
  max-width: 750px;
  max-height: 56px;
}


.enter-2{
  padding: 8px 8px 8px  20px;
 width: 408px;
}
.enter-3-location{
  display: flex;

}
.enter-3-location{
display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  pointer-events: none;
}
.main-container-two{
  height:650px ;
}
.dasher-child-2{
  margin: 32px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scooty{
  margin-right: 64px;
}
.scooty img{
  height: 124px;
  width: 124px;
}
/*dasher-child-1{
  max-width: 768px;
  margin: 0px auto;
} */
.everything-child-2{
display: flex;
gap: 60px;
flex-direction: row-reverse;
justify-content: center;
margin-bottom: -60px;
padding: 20px;

}
.everything-child-3{
  max-width: 1184px;
  /* display:flex; */
  margin-top: auto;
  margin-bottom: auto;
}
.everything-child-3 img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin-bottom: 4px;

}
.everything-cont-head{
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  font-family: 'bold';
  
}
.everything-cont-sub-head{
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  font-family: "bold";

}
.everything-content-details{
  font-size: 16px;
  line-height: 22px;
  margin-top:10px;
}
.everything-end{
  margin-top: 30px;
}
.everything-search {
 min-height: 40px;
}
.everything-search-child-3{
font-size: 16px;
font-weight:500;
line-height: 22px;
}
.back-ground-size {
background-color: rgb(254 241 238);

}
.back-ground-color {
 display: flex;
flex-direction:row;
padding:80px  20px 20px;
min-width: 90%;
align-items: center;
gap: 60px; 
margin-top:0px;
}
.dash-pass img{
width: 100%;
height: 500px;
object-fit: cover;

}

.grocery-page {
  position: relative;
  height: 600px;
  background-size: cover;
  background-position: center;
}
.grocery-page-main-2{
display: flex;
flex-direction: column;
max-width: 550px;
margin-block: auto;
align-items: center;
justify-content:center;

}
.grocery-text-1 {
  max-width: 90%;
  margin: 20px 0px 0px;
  font-family: "bold";
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.01px;
 
}
.grocery-text-2 {
  font-family: "bold";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 20px;
}
.grocery-text-3{
  font-family: "medium";
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.grocery-btn-style{
  min-height: 40px;
}
.final-btn{
font-size: 16px;
font-weight: 500;
line-height: 22px;
letter-spacing: -0.01px;  
}
.DashPass-is-delivery {

  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.01px;
  
}
.dash-paass-conten {
  margin: 20px 0px 0px;
  font-family: "medium";
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.01px;
}

.dash-paass-content {
 margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.01px;
  text-decoration: none;
}
.dash-pass-768-img{
  height: 500px;
  width: 100%;
  object-fit: cover;

}
.dash-pass-img_768{
display: block;
}
.dash-pass-img{
  display: none;
}
.navigation{
  top: -15px;
}
.get-btn{
  margin-top: 30px;

}
.get-btn-style{
  min-height: 40px;
}
.get-btn-style-3{
  font-family: 'bold';
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.doorstep-page1{
  padding:60px 20px 20px 20px ;
  margin-bottom: -40px;
  height: 584.3px;
}
.doorstep-page1_property{
display: flex;
flex-direction: row-reverse;
gap: 61px;
max-width: 1184px;
align-items: center;
}
.doorstep-content-heading {
max-width: 90%;
font-size: 40px;
font-weight: 500;
line-height: 40px;
letter-spacing: -0.01px;
font-family:'bold';

}
.convive_img{
  display: block;
}

.convive_img{
  height: 500px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 4px;;
} 
.dash-pass{
  height: 504.8px;
}
.grocery-btn{
  margin-top: 30px;
}
.shop-btn-style-3 {
 font-family:"bold";
 font-size: 16px;
 line-height:22px;
 font-weight: 500;
 min-height: 40px;
display: flex;
align-items: center;
justify-content: center
}
.doorstep-content-sub-heading {
font-family:"medium";
 font-size: 16px;
 line-height:22px;
 font-weight: 500;
 margin-top: 20px;

}
.shop-now {
  margin-top: 30px;
}
/* .doorstep{
  height:584px ;
} */
.dos-gifting{
display: flex;
justify-content: center;
background-color: rgb(254, 241, 238);
padding: 60px 20px 40px;
width: 100%;
}
.dos-gifting-heading{
  max-width: 500px;
  align-items: center;
  line-height: 40px;
  font-size: 32px;
}
.Return-packages-heading{
  font-size: 40px;
  line-height: 40px;
  max-width: 90%;
  font-family: "bold";
  font-weight: 500;
}
.Return-packages-sub-heading{
   font-size:16px;
  line-height: 22px;
  margin-top: 20px;
}
.Return-packages-btn{
  margin-top: 30px;
}
.Return-packages-btn-style{
  min-height: 40px;
}
.dos-gifting-img {
  width: 344.14px;
  height: 344.14px;
} 
.dos-gifting-img_1{
width: 100%;
height: 100%;
flex: 1;
object-fit: cover;
object-position: center;
aspect-ratio: 1 / 1;
} 

.dos-gifting-body-style-1{
  margin: unset;
    max-width: 50%;
    min-width: 50%;
}
.dos-gifting-body{
  flex-wrap: wrap;
}
.businesses{
 padding: 60px 20px 40px;
}
.businesses-main-heading{
text-align:center;
max-width: 500px;
font-size: 32px;
line-height: 40px;
}

.man_with_bag{
width: 100%;
height: 500px;
object-fit: cover;
}
.dash-pass-img_1{
  height: 500px;
  width: 100;
}
.DashPass-is-delivery_1{
font-family: "bold";
font-size: 40px;
font-weight: 500;
line-height: 40px;
letter-spacing: -0.01px;
margin: 20px 0px 0px;
   
}
.dash-paass-content_1{
font-size:16px;
font-weight: 500;
line-height: 22px
}
.neighborhood_head{
 font-family: "bold";
  font-weight: 500;
  margin: 0px 0px 19.5px;
}
.neighborhood {
  padding: 48.1px 0px;
  width: 100%;
  max-width: 1130px;
  margin: 0px auto;

}
.top_cities1{
  transform:translatey(-1px)
}

.city_sub{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:16px;
    width: 100%;
    margin-top: -0.5px;
    }
   
.gap_property{
  display: flex;
  flex-direction: row;
  text-align: start;
  }
  .gap_top_city{
  gap: 24px;

  }
  .top_cities1
    .footer_first_section{
      font-size: 14px;
      line-height: 20px;
    }
    .get_to_know{
      gap: 108px;
      justify-content: space-between;
      display: flex;
      text-align: start;
    }
    .get_to_know_container{
      justify-content:flex-start;
      text-align:left;
      white-space: nowrap;
    }
    .everything-img{
      display: none;

    }
.everything-img_1{
  display:flex;
 }
 .dash-pass-img_1{
  display: none;
 }
 .dash-pass-img_11{
  display: flex;
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin-bottom: 4px;

 }
.dos-gifting-img{
  display: none;
}
.dos-gifting-img_1{
    display:flex
} 
.nav-4{
  font-size: 18px;
  font-weight:500;
  line-height: 22px;

}
.open-app-attri_1{
 position: relative;
  max-width: 100%;
  padding: 0px;
  display: inline-flex;
  text-decoration: none;
  min-height: 40px;
  width: auto;
  align-items: center;
  justify-content: flex-start;
  border-radius: 9999px;
  border: none;
  cursor: pointer; 
  text-align: center;
  background-color:#ffffff;
  box-shadow: 1px;
}.sgn_up{
color:#606060ff;
}
.input-btn{
  padding-left: 0px;
  justify-content:flex-end;
  padding-right:0px;

}
.navigation{
  top: -16px;
}
.terms_with_logo{
  display: flex;
  flex-direction: row;
}
.english{
  white-space:nowrap;
}

.Return-packages{
  flex: 1;
}
.businesses-main-heading{
  font-family: 'bold';
  font-weight: 500;
}
.enjoy{
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  font-family: "medium";
  line-height: 20px;

} 
.everything-content-details_1{
        font-size: 16px;
        line-height: 22px;
        margin-top: 20px;
      }
.footer_sub_container h2{
  text-align: left;
}
.footer_sub_container{
  padding-block:32px;

}

.top_cities1{
  padding: 0px;
}
.top_cities2{
  padding: 0px;
}
.top_cities3{
  padding: 0px;
}
.text11{
  display: none;
}
.everything-content{
  max-width: 400px;

}
.dash-pass-head{
  max-width: 400px;
}
.dash-pass-head_1{
    max-width: 400px;
}

}
@media screen and (min-width:960px){
.text{
  display: none;
}
.text11{
  display: block;
} 
 .text11 {
  margin-left: 4px;
  font-family: "bold";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container-two{
  height: 650px;
}
.logo-with-name-centre svg {
  width: 42px;
  height: 24px;
 
}
.logo-name svg{
width: 155px;
height: 18px;
}
.logo-name {
  margin-left: 12px;
}
.logo-with-name {
  transform: translateY(-205.6px);
   margin-block: 24px;
}
.verything-child-3 svg{
object-position: center;
aspect-ratio: 1 / 1;
}
.doorstep-img {
width: 100%;
object-fit: cover;
width: 99.9%;
object-position: center;
aspect-ratio: 1 / 1;
}
/* .app_in_phone_main{
  display: flex;
  
} */
 .get_to_know_container{
  white-space: nowrap;
 }
 .max_960{
display: flex;
flex-direction: row-reverse;
width: 100%;
 }
 .get_to_know{
width: 50%;
justify-content: space-between;
 }

 .app_in_phone {
width: 50%;
justify-self: end;
align-items: flex-end;


 }
 .app_in_phone_main{
  width: 50%;

 }
 .get_to_know{
  gap: 12px;
 }

}
@media screen and (min-width:1184px){
  .scooty{
    display: flex;
    justify-content: center;

  }
.dasher-child-2{
  margin:96px  0px;
  display: flex;
  flex-direction:row;
  padding: 12px 12px;
  min-height: 100%;
}
.dasher-child-3{
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: row;
}
.dasher-child-4{
  flex-flow: column;
  padding: 16px;
}
 
.scooty img{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.scooty img {
height: 154px;
width: 154px;
}
.daher-text {
  text-align: center;
}
.daher-content {
  text-align: center;

}
.dasher-start-text{
 text-align:center;
font-size: 18px;
}

.daher-content{
margin-top: 8px;

} 
.daher-start{
display: flex;
justify-content: center;
align-items: center;
margin: 13px 0 0 0;
}
.dasher-child-3{
  margin: 0 auto;
}
.doordash_magee{
margin-bottom:173.158px;;

}
.everything-child-3 img{
  margin-bottom:5px ;

}
.footer_container{
  padding:0px 32px;
}
  .terms_with_logo{
    justify-content: space-between;
  }

}
@media screen and (min-width:1440px) {
 .main-container-two {
        height: 650px;
        background-position: center center;
        
    }
   .everything-child-2 {
    padding: 20px 15px;
   } 
   .everything-child-1{
    max-width: 1184px;
    margin: 0 auto;
    justify-content: center;
   }
   .dash-pass{
   width: 724px;
   }
 .back-ground-color{
  max-width: 1184px;
  margin: 0 auto;
  justify-content: center;
}  
.back-ground{
   background-color: (254 241 238);
}
.doorstep-page1{
  width: 100%;
}
.doorstep-content-heading{
  max-width: 89%;
}
.doorstep-img{
  aspect-ratio: unset;
}  
.doordash_magee{
  margin: 0;
} 
.doorstep-page1{
max-width: 1184px;
margin: 0 auto;
margin-bottom: -40px;
  
}
.convive_img{
  width: unset;

}
.doorstep-page1{
padding: 60px 15px 20px 15px;
}
.dos-gifting-main{
  background-color:rgb(254, 241, 238);
}
.dos-gifting-body{
  max-width: 1184px;
  margin: 0 auto;
}
.footer_top{
  background-color: #191919ff;
}
.footer_container{
  max-width: 1184px;
  margin: 0 auto;
}
 .back-ground_1{
  background-color:rgb(254, 241, 238);
}
 .less_bgr{
  max-width: 1184px;
  margin: 0 auto;
  justify-content: center;
} 

  }